<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rockstock.cn-media-nightly-analysis</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/tc/.local/bin/rockstock-cn-media-nightly-analysis.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>/Users/tc</string>
    <key>USER</key><string>tc</string>
    <key>LOGNAME</key><string>tc</string>
    <key>PATH</key><string>/Users/tc/.local/node-22/bin:/Users/tc/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>3</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>3</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>3</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Weekday</key><integer>6</integer><key>Hour</key><integer>3</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Weekday</key><integer>7</integer><key>Hour</key><integer>3</integer><key>Minute</key><integer>10</integer></dict>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/rockstock-cn-media-nightly.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/rockstock-cn-media-nightly.err.log</string>
</dict>
</plist>
